<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">EPAM External Python Course Graduation Work</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ url_for('index')}}">Main page</a>
        <a class="p-2 text-dark" href="{{ url_for('departments')}}">Departments</a>
        <a class="p-2 text-dark" href="{{ url_for('employees')}}">Employees</a>
        <!-- <a class="btn btn-warning" href="/create-article">Admin panel</a> -->
      </nav>
    </div>
    {% block body %}{% endblock %}
<footer class="container my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© Tetiana Kuzmuk</small>
      </div>
    </div>
  </footer>
</body>
</html>