{% extends 'bases.html' %}

{% block title %}
Create employee
{% endblock %}
{% block body %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5 class="display-4">Please, fill the form to add the employee</h5>
    </div>
    <div>
        <form method="POST" action="/employee/add">
            <div class="form-row">
                <div class="col">
                <label for="first_name_emp">Enter the name <sup>*</sup></label>
                    <input name="first_name" type="text" id="first_name_emp"
                           class="form-control" placeholder="Name" required>
                </div>

                <div class="col">
                <label for="last_name_emp">Enter the surname <sup>*</sup></label>
                    <input name="last_name" type="text" id="last_name_emp"
                           class="form-control" placeholder="Surname" required>
                </div>
            </div>
            <p></p>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="salary_emp">Salary</label>
                        <input name="salary" type="number" id="salary_emp"
                               class="form-control" step="0.01" min=0 value="0.0" placeholder="0.0">
                </div>
                <div class="form-group col-md-4">
                    <label for="birthdate_emp">Birthdate <sup>*</sup></label>
                        <input name="birthdate" type="date" id="birthdate_emp" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="dep_emp">Choose the department <sup>*</sup></label>
                    <select name="department_id" id="dep_emp" class="form-control" required>
                        {% for d in departments %}
                            <option value="{{ d['id']}}">{{ d['title'] }}</option>
                        {%endfor%}
                    </select>

                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Add employee">
        </form>
    </div>
</div>
{% endblock %}