{% extends 'bases.html' %}

{% block title %}
Create department
{% endblock %}
{% block body %}
<div class="container">
    {% if department is none%}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5 class="display-4">Please, fill the form</h5>
    </div>
    <div>
        <form method="POST" action="/department/add">
            <div class="form-row">
                <div class="col">
                    <label for="title_deps">Put the title of new department here:</label>
                    <input name="title" type="text" id="title_deps" class="form-control" required/>
                </div>
            </div>
            <div class="form-row p-2">
                <div class="col">
                    <input type="submit" value="Add" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
    {% else %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h5 class="display-4">Please, edit the form</h5>
    </div>
    <div>
        <form method="POST" action="/department/{{ department['id'] }}/update">
            <div class="form-row">
                <div class="col">
                    <label for="edit_title_deps">Edit the name of department:</label>
                    <input name="title" type="text" value="{{ department['title'] }}"
                           id="edit_title_deps" class="form-control" required/>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <br>
                    <input type="submit" value="Update"  class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>
    {%endif%}

</div>
{% endblock %}