{% extends 'bases.html' %}

{% block title %}
Departments page
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">List of departments</h1>
    </div>
    <div style="text-align: center; font-size: larger; color: red">
         {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="list-unstyled">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
         {% endwith %}
    </div>
    <div class="px-3 py-3 text-right">
        <a class="btn btn-warning" href="/departments/add">Add department</a>
    </div>

    <div>
    <table class="table table-hover">
      <thead>
        <tr style="background-color: beige">
          <th scope="col">Name</th>
          <th scope="col">Average salary</th>
          <th scope="col">Amount of employees</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        {% for d in departments %}
        <tr>
            {%if d['emp_cnt'] == 0 %}
            <td>{{ d['title'] }}</td>
            {%else %}
            <td><a href="/departments/{{d['id']}}">{{ d['title'] }}</a></td>
            {%endif%}
            <td>
                {% if d['avg_sal'] is none%}
                    0
                {% else %}
                    {{ '{:.2f}'.format(d['avg_sal']) }}
                {%endif%}
            </td>
            {%if d['emp_cnt'] == 0 %}
            <td>{{ d['emp_cnt'] }}</td>
            {%else%}
            <td><a href="/departments/{{d['id']}}">{{ d['emp_cnt'] }}</a></td>
            {%endif%}
            <td>
                <a href="/departments/{{d['id']}}/update" class="btn btn-success">Edit</a>
                {% if d['emp_cnt'] > 0 %}
                <span title="You cant delete non empty department">
                    <a href="#" class="btn btn-danger disabled">Delete</a></span>
                {% else %}
                    <a href="/departments/{{d['id']}}/delete" class="btn btn-danger">Delete</a>
                {%endif%}
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
</div>
{% endblock %}