{% extends 'bases.html' %}

{% block title %}
Employees list of certain department
{% endblock %}

{% block body %}
<div class="container">

    <div class="card border-light">
      <div class="card-body">
        <form action="/departments/{{ department_id }}" method="POST">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="from_birthdate">Birthdate from:</label>
                        <input name="from_bdate" type="date" id="from_birthdate" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label for="birthdate_emp">Birthdate to:</label>
                        <input name="to_bdate" type="date" id="birthdate_emp" class="form-control">
                </div>

            <div class="form-group col-md-3 text-left">
                <br>
                    <input type="submit" class="btn btn-primary" value="Filter employees">
            </div>
            </div>
        </form>
      </div>

    </div>

    <br>
    <div style="text-align: center; font-size: larger; color: #ff0000">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="list-unstyled">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        {% endwith %}
        {% if flag == 2 %}
        <div class="text-center">
            <a href="/departments/{{ department_id }}" class="btn btn-info">  Go back to department  </a>
        </div>
        {% endif %}
        {% if flag == 1 %}
                <div class="text-center">
                <a href="/departments/{{ department_id }}" class="btn btn-info">  Reset filter  </a>
                </div>
        {% endif %}
        </div>
    <div class="pricing-header px-3 py-3 mx-auto text-center">
        <h1 class="display-4">Employees of {{ dep_title }}</h1>
    </div>
    <div class="px-3 py-3 mx-auto text-right">
        <a class="btn btn-warning" href="/employees/add">Add employee</a>
    </div>
    <div>
    <table class="table table-hover">
      <thead>
        <tr style="background-color: beige">
          <th scope="col">Name Surname</th>
          <th scope="col">Salary</th>
          <th scope="col">Birthdate</th>
          <th scope="col">Department Title</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for e in department_empl %}
        <tr>
            <th scope="row">{{ e['first_name'] }} {{ e['last_name'] }}</th>
            <td>{{ e['salary'] }}</td>
            <td>{{ e['birthdate'] }}</td>
            <td>{{ e['department_title'] }}</td>
            <td>
                <a href="/employees/{{e['id']}}/update" class="btn btn-success">Edit</a>
                <a href="/employees/{{e['id']}}/delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

</div>
{% endblock %}