{% extends 'bases.html' %}

{% block title %}
Project main page
{% endblock %}

{% block body %}
<div class="container">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Project</h1>
  <p class="lead">A simple web application for managing departments and employees with a web service (RESTful) for CRUD operations</p>
</div>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Departments</h4>
      </div>
      <div class="card-body">
          <h4><small class="text-muted"> Requirements: </small></h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>- display a list of departments</li>
          <li>- display the average salary (calculated automatically) for these departments</li>
          <li>- display a list of employees in certain department</li>
          <li>- change (add / edit / delete)</li>
        </ul>
          <br>
        <a href="{{ url_for('departments')}}" class="btn btn-lg btn-block btn-outline-primary">Get started</a>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Employees</h4>
      </div>
      <div class="card-body">
          <h4><small class="text-muted"> Requirements: </small></h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>- display a list of all employees in all departments<br>
            with an indication of the salary for each employee</li>
          <li>- search field to search for employees born on a certain date or in the period between dates</li>
          <li>- change (add / edit / delete)</li>
        </ul>
        <br>
        <a href="{{ url_for('employees')}}" class="btn btn-lg btn-block btn-outline-primary" >Get started</a>
      </div>
    </div>
  </div>
</div>



{% endblock %}